body {
    width: 100%;
    height: 100%;
    display: block;
    background: url('../img/background_auth.png');
    background-repeat: no-repeat;
    background-position: 50%;
    font-family: 'YS Text', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
}

html{
    width: 100%;
    height: 100%;
}

/*
.form-auth-body {

}
*/

.form-auth-container {
    width: 360px;
    display: flex;
}

.form-auth-content {
    width: 100%;
    padding: 5%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fbfbfb;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
}

.row-container-form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
.form-auth-head {
    padding: 0 0 5% 0;
}
*/
.form-auth-head > h1 {
    font-weight: 300;
}

.form-auth-body > form {
    width: 100%;
}

.form-auth-body > form > .form-group {
    margin: 10% 0 0 0;
}

.form-auth-body > form > a > p {
    margin: 5% 0 0 0;
}

.form-auth-body > form > button {
    border: none;
    color: #000000;
    margin: 20% 0 0 0;
    background: #94E399;
}

.form-auth-bottom {
    margin: 1% 0 0 0;
}

.form-auth-head,
.form-auth-body,
.form-auth-bottom {
    display: flex;
    justify-content: center;
}

footer {
    margin: 0;
    padding: 0;
    display: flex;
    color: #fff;
    justify-content: center;
}

footer > .footer-row {
    flex-direction: column;
}

footer > .footer-row > p {
    text-align: center;
    font-size: 0.8em;
    white-space: nowrap;
}



@media screen and (max-width: 600px) {
    body {
        background: none;
    }

    footer {
        color: #000000;
    }

    .row-container-form {
        height: 75%;
    }
}