header {
    padding: 1% 2% 0 0;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

header p {
    width: 100%;
    padding: 0 5% 0 0;
    font-size: 1.5em;
    text-align: end;
}

header a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.sendMsgImg img {
    width: 35%;
}

.row-container-content {
    padding: 5%;
}

@media screen and (max-width: 1000px) {
    .presenter-container {
        width: 0;
        display: none;
    }

    .sendMsgImg img {
        width: 80%;
    }
}