body {
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    font-family: 'YS Text', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
}

html {
    width: 100%;
    height: 100%;
}

header {
    padding: 1% 2% 0 0;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

header p {
    width: 100%;
    padding: 0 5% 0 0;
    font-size: 1.5em;
    text-align: end;
}

.row-container {
    width: 100%;
    max-width: 1920px;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.presenter-container {
    width: 50%;
    height: 100%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presenter-title {
    height: 20%;
}

.presenter-title > img {
    height: 100%;
}

.presenter-title > h1 {
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 0.25em;
    align-self: center;
}

.presenter-slogan {
    height: 15%;
}

.presenter-slogan > h2 {
    font-family: 'Segoe UI';
    font-size: 1.75rem;
    font-weight: 500;
}

.presenter-content {
    height: 100%;
    align-self: center;
    flex-direction: column;
}

.presenter-content-row {
    height: 30%;
    padding: 0 0 0 10%;
    display: flex;
}

.presenter-content-row > img {
    height: 80%;
}

.presenter-content-text {
    margin: 0 0 0 3%;
    font-size: 1.3em;
}

.presenter-content-text > h3 {
    font-size: 1.75rem;
    font-weight: 600;
}

.presenter-title,
.presenter-slogan,
.presenter-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.form-group {
    margin-bottom: 0.4rem
}

.row-container-form {
    width: 50%;
    display: flex;
    justify-content: center;
}

.form-reg-content {
    min-width: 400px;
    min-height: 500px;
    padding: 5%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fbfbfb;
    align-self: center;
}

.lite-card-shadow {
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.16);
}

.form-reg-head {
    text-align: center;
}

.form-reg-head h1 {
    margin: 0 0 5% 0;
}

.reg-body-group {
    margin: 15% 0 5% 0;
}

.form-reg-body > form > .btn-success {
    background-color: #6A77BB;
}

footer {
    margin: 0;
    padding: 0;
    display: flex;
    color: #000000;
    justify-content: center;
}

footer>.footer-row {
    flex-direction: column;
}

footer>.footer-row>p {
    text-align: center;
    font-size: 0.75em;
}

@media screen and (max-width: 1000px) {
    .presenter-container {
        width: 0;
        display: none;
    }
    
    .row-container-form {
        width: 100%;
    }
}