@import "foundation";

//colors:
$blueberry100: #8cd5ff;
$blueberry300: #64baff;
$blueberry500: #3689e6;
$blueberry700: #0d52bf;

$silver100: #fafafa;
$silver300: #d4d4d4;
$silver500: #abacae;
$silver700: #7e8087;

$black100: #666666;
$black300: #4d4d4d;
$black500: #333333;
$black700: #1a1a1a;

.footer-container {
  background: #FAFAFA;
}

.footer-p{
  color: #939292;
  font-size: 10px;
}
