/*
    Журналы
*/

.journal_list_container > h3 {
    margin-left: 2%;
}

.students_wrapper,
.students_attendance_wrapper,
.students_marks_wrapper{
    display: flex;
    white-space: nowrap;
}

.journal_list {
    display: none;
    justify-content: flex-end;
    flex-direction: column;
}


.journal_list_table td{
    max-width: 75px;
    width: 75px;
}

.journal_list_table > thead > tr > td,
.journal_list_table > tbody > tr > td{
    width: 100px;
    word-wrap: break-spaces;
}

.journal_list_table > tbody > tr > td > input {
    width: 50%;
}

.cell_attendance_clickable {
    background: #FED6D6;
    text-align: center;
}

.cell_attendance_clickable:hover {
    background: #ff9b9b;
    cursor: pointer;
}

.cell_attendance {
    background: #fff;
    text-align: center;
}

.cell_attendance:hover {
    background: #dcdcdc;
    cursor: pointer;
}

.table_marks_cell {
    text-align: center;
    text-align-last: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.table_marks_cell option {
    text-align: center;
    text-align-last: center;
}

.table_marks_cell input {
    width: 100%;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    line-height: 2;
}

.dateJournalMarks, .dateJournal {
    cursor: pointer;
}

.dateJournal {
    text-align: center;
}

.list-component {
    display: flex;
    padding: 0 5%;
}

#students_attendance {
    overflow-x:auto;
    white-space: nowrap;
}

#students_list {
    white-space: nowrap;
}

.container-fluid {
    padding-top: 1%;
    padding-left: 75px;
}

.btn-outline-journal-add {
    height: 60px;
    font-size: 3em;
    width: 60px;
    /*height: 86%;*/
    border: 1px solid #666666;

    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

.btn-outline-journal-add:hover {
    background: #666666;
    color: #ffffff;
    transition: .1s ease-out;
}

.work_id {
    display: none;
}

.modal-body-constructor-spec-work {
    padding: 5% 0 0 0;
}

.spec-work-group-btns {
    padding: 2% 0 0 0;
    display: flex;
    justify-content: space-around;
}
