/*
    Student marks page
*/
.search-navbar {
    border-radius: 50px;
}

.search-navbar-shadow {
    -webkit-box-shadow: 0px 89px 102px -6px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 89px 102px -6px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 13px 57px -13px rgba(0, 0, 0 ,0.8);
}

.header-category {
    padding: 2% 0px 1% 0;
}

.subject-avg-mark, .subject-none-mark {
    text-align: center;
}

.subject-avg-mark {
    font-size: 5em;
}

.subject-none-mark {
    font-size: 2em;
}

.card {
    max-width: 250px;
}

mark {
    background-color: #64baff;
}
