/*
    Модальное окно
*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: block;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-height: 80%;
    overflow: hidden;
    max-width: 600px;
}

.modal-content-forJournal {
    display: block;
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: none;
    overflow: hidden;
}

.modal-header {

}

.modal-header p {
    font-size: 2em;
}

/* The Close Button */
.close {
    color: #aaa;
    align-self: flex-end;
    /*float: right;*/
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
    Классы для конструктора предметов
*/

.modal-body-choosers {
    display: flex;
    padding: 0 0 1em 0;
}

.model-body-chooser {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 0 3% 0;
}

.modal-body-costructor {
    display: flex;
    height: 50%;
    padding: 1em 0;
}

.modal-body-costructor-controller {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
}

.modal-body-costructor-controller-wide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.modal-body-costructor-controller-wide > h5 {
    text-align: left;
}

.modal-body-costructor-controller > button {
    margin: auto 0;
}

.modal-body-costructor-testList {
    width: 65%;
    padding: 0 0 0 3em;
}

/* Альтернатива классу "modal-body-costructor-testList" когда он только один в модальном окне*/
.modal-body-costructor-testList-wide {
    width: 100%;
    padding: 0;
}

.modal-body-testList-tests {
    max-height: 50vh;
    overflow-y: auto;
}

.modal-body-testList-ticket {
    display: flex;
    padding: 3%;
    overflow: hidden;
}

.modal-body-testList-ticket:nth-child(2n + 1) {
    background: #eee;
}

.modal-body-testList-ticket:nth-child(2n) {
    background: #dadada;
}

.testList-ticket-info {
    width: 90%;
}

.testList-ticket-delete {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    font-size: 28px;
    align-self: flex-end;
    float: right;
    cursor: pointer;
    opacity: .5;
    color: #aaa;
}

.testList-ticket-delete:hover{
    opacity: 1;
    color: #000;
}

.ticket-choosable {
    cursor: pointer;
}

.ticket-choosable:hover {
    background: #060606;
    color: white;
}

.modal-footer {
    flex-direction: column;
}

.modal-footer-ticketConstructor {
    width: 100%;
    padding: 2% 0;
}

/* Класс для скрытия идентификатора карточки*/
.card-detail-id-hide {
    display: none;
}


/*
    Стили для подробных оценок студентов
*/

.modal-body .list {
    height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.timeline-item {
    margin: 0 5px;
    padding: 3em 2em 2em;
    position: relative;
    color: rgba(000,000,000, .7);
    border-left: 2px solid;
    border-color: rgba(000,000,000, .3);
    display: flex;
}

.timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: .785rem;
}

.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(000, 000, 000, .3);
    background: white;
}

.timeline-item .mark {
    display: flex;
    justify-content: center;
    align-self: center;
    background: none;
    padding: 5px;
    width: 5%;
    max-width: 80px;
}

.timeline-item .theme {
    padding: 20px;
}

.timeline-item .theme .controlType {
    color: #b5b5b5;;
}
