.navbar-primary.navbar-global {
    background-color: indigo;
}

.navbar-global .navbar-brand {
    color: white;
}

.navbar-global .navbar-user>li>a {
    color: white;
}

.navbar-primary {
    background-color: #c8c8c8;
    bottom: 0px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 175px;
    z-index: 8;
    /*overflow: hidden;*/
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
    width: 60px;
}

.navbar-primary.collapsed .glyphicon {
    font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
    display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 45px;
    width: 100%;
    padding: 8px 0;
    border-top: solid 1px #666;
    color: #000000;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #888;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #777;
}

.navbar-primary-avatar {
    background-color: #DCDCDC;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.navbar-primary-avatar img {
    width: 100%;
    border-radius: 100%;
}

.navbar-primary-avatar-background {
    background-color: #A7A7A7;
    border-radius: 100%;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    width: 50px;
}

.navbar-primary-name-fullName {
    text-align: center;
    font-size: 1.4em;
    background: #DCDCDC;
    padding: 4% 0;
}

.navbar-primary-menu,
.navbar-primary-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-expand-logout {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    border-top: solid 1px #666;
    color: #000000;
    font-size: 20px;
    text-align: center;
}

.btn-expand-logout:hover {
    background: #d00000;
    color: white;
}

.btn-expand-logout > a:active {
    background-color: red;
    text-decoration: none;
    color: white;
}

.navbar-primary-menu > li > a {
    display: block;
    padding: 20px 20px;
    text-align: left;
    border-bottom: solid 1px #d7d7d7;
    color: #000;
}

.navbar-primary-menu > li > a:hover {
    background-color: #888;
    text-decoration: none;
    color: white;
}

.navbar-primary-menu li a .glyphicon {
    margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
    color: #ffffff;
}

.main-content {
    margin-top: 60px;
    margin-left: 200px;
    padding: 20px;
}

.collapsed+.main-content {
    margin-left: 60px;
}