.notifications-pop-up-container {
    top: 15px;
    right: 15px;
    width: 350px;
    display: flex;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
}

.notification {
    width: 250px;
    padding: 10px;
    display: block;
    overflow: hidden;
    background: #ffffff;
    margin: 10px 0 0 0;
    transition: 1s;
    z-index: 1;
}

.notification-container {
    display: flex;
    overflow: hidden;
    max-height: 60px;
    flex-direction: row;
    align-content: stretch;
}

.notification-container-img {
    width: 25%;
    background: antiquewhite;
}

.notification-container-message {
    width: 75%;
}

.notification-container-message-title {
    padding: 5px;
    font-weight: bold;
}

.notification-container-message-text {
    padding: 0 5px;
}
