.notificationsLayout {
    display: block;
    position: absolute;
    width: 430px;
    height: 600px;
    background: #a3d4f0;
    left: 70px;
    top: 60px;
    transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
    color: #000;
    pointer-events: auto;
}

.notificationsLayout a {
    padding: 0;
    text-align: center;
    border: none;
    height: 0;
    display: block;
}

.notificationsLayout-header {
    padding: 11px 14px;
    background: #d7d7d7;
}

.notificationsLayout-notificationsContainer {
    height: 524px;
}

.notificationsLayout-footer {
    padding: 11px 14px;
    background: #d7d7d7;
}