/*
    Стили для журнала
*/

.record_book-plug {
    height: 90%;
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.record_book-plug img {
    padding: 5%;
}

.journal_list-plug{
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.journal_list-plug img,
.record_book-plug img{
    align-self: center;
    width: 45%;
}

/*
    Стили ведомостей
*/

.statements_list-plug {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.statements_list-plug img {
    align-self: center;
    width: 40%;
    margin: 5%;
}
