/*
    Settings page
*/

.row-container-content {
    justify-content: center;
}

.col-container-content {
    max-width: 90%;
}

.settings-component {
    /* width: 80%; */
}

.settings-component-title {
    padding: 2% 0% 2% 2%;
}

.settings-component-section-subtitle {
    padding: 3% 5% 0 5%;
    border-top: 1px solid rgb(230, 230, 230);
}

.settings-component-section-cfgGroup {
    padding: 0% 5%;
}

.settings-component-section-cfgGroup:last-child {
    padding: 0% 5% 3% 5%;
}

.cfgGroup-row {
    padding: 3% 0 0 0;
}

.cfgGroup-row > form {
    width: 100%;
}

.change-mail-btn {
    margin: 18px 0 0 0;
}
