.states .header-main {

}

.states .educationPlaceName td {
    font-size: 1em;
}

.states .document-name td {
    font-size: 1.5em;
}

.states .header-category {

}

.states .centered-all {
    text-align: center;
    vertical-align: middle;
}

.states .centered-all-tds td {
    text-align: center;
    vertical-align: middle;
}

.states .slim-all-tds td {
    height: 0;
    padding: 0;
}

.states .centered-all-1st td:nth-child(1n) {
    text-align: center;
    vertical-align: middle;
}

.states .centered-all-3rd td:nth-child(3n) {
    text-align: center;
    vertical-align: middle;
}

.states .bold {
    font-weight: bold;
    font-weight: 600;
}

.normal-last td:last-child {
    font-weight: normal;
    font-weight: 500;
}

.states-form {
    padding: 2% 0;
}

.states-form label {
    padding: 0.5em 0px;
}

/* The Close Button */
.close-table-statement {
    color: #FED6D6;
    align-self: flex-end;
    float: right;
    font-size: 3.5em;;
    font-weight: bold;
}

.close-table-statement:hover,
.close-table-statement:focus {
    color: #ff9b9b;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для таблицы курсовой ведомости */
#state_1_body > tr > td {
    text-align: center;
    vertical-align: middle;
}

#state_1_body > tr > td:nth-child(2){
    text-align: left;
    vertical-align: middle;
}

.overflow {
    display: flex;
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
}

p.verticalText {
    writing-mode: vertical-rl;
}

/* The Close Button */
#closeState_2_formRes {
    color: #FED6D6;
    display: flex;
    align-self: flex-end;
    /*float: right;*/
    font-size: 3.5em;;
    font-weight: bold;
}

#closeState_2_formRes:hover,
#closeState_2_formRes:focus {
    color: #ff9b9b;
    text-decoration: none;
    cursor: pointer;
}