/* Кастомные стили */
* {
    font-family: 'Open Sans', sans-serif;
}

a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
}

.container-fluid {
    padding-top: 1%;
    padding-left: 75px;
}

.row-container-content {
    justify-content: center;
}

.col-container-content {
    max-width: 90%;
}

.col-container-content-header {
    font-weight: 600;
    color: rgba(0, 0, 0, .3);
}

.liteShadow {
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.16);
}

.list-shadow {
    -webkit-box-shadow: 22px 0px 50px -17px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 22px 0px 50px -17px rgba(0, 0, 0, 0.2);
    box-shadow: 22px 0px 50px -17px rgba(0, 0, 0, 0.2);
}

.upToDownShadow {
    -webkit-box-shadow: 0px 11px 28px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 28px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 28px -13px rgba(0,0,0,0.75);
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon {
    left: 10px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 45px;
}

.right-addon input {
    padding-right: 45px;
}


.round-lite {
    border-radius: 5px;
}

.hide {
    display: none;
}

.hidden {
    display: none;
}
