.welcome-component {
    max-width: 1280px;
    margin: 3% auto;
}

.welcome-component-title {
    padding: 20% 0% 20% 2%;
}

.welcome-component-title h3{
    text-align: center;
    padding: 0 0 3% 0;
    font-weight: 600;
    color: rgba(0, 0, 0, .5);
}

.welcome-component-title-user {
    display: flex;
    justify-content: center;
}

.welcome-component-title-user-avatar {
    width: 152px;
    height: 152px;
}

.welcome-component-title-user-text {
    padding: 25px;
}

.welcome-component-title-user-text-name {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.5;
}

.welcome-component-title-user-text-usertype {
    font-size: 1.2rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0, 0, 0, .6);
}

.welcome-component-title-user-text-about {
    margin-top: 4px !important;
    font-size: 1.1rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0, 0, 0, .9);
}

.welcome-component-title-user-text-about li {
    display: inline-block;
}

.welcome-component-header {
    border-top: 1px solid rgb(230, 230, 230);
}

.welcome-component-header, .welcome-component-news {
    padding: 3% 0% 0% 5%;
}

.welcome-component-news {
    padding: 0% 5% 3% 5%;
}

.news-ticket {
    padding: 2% 0;
}

.news-ticket-container-message-title {
    padding: 1% 0;
    font-size: 1.1em;
}