{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/auth.css' %}">
    <title>Авторизация</title>
</head>
<body>
    <div class="row-container-form">
    
        <div class="form-auth-container">
            <div class="form-auth-content">
                <div class="form-auth-head">
                    <h1>Авторизация</h1>
                </div>
                <div class="form-auth-body">
                    {% block content %}
                    <form method="post" action="{% url 'login' %}" class="form-group">
                        {% csrf_token %}

                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label }}
                            {{ form.password }}
                        </div>
                        
                        <a href="">
                            <p>Забыли пароль?</p>
                        </a>

                        <button type="submit" class="btn btn-success btn-lg btn-block">Авторизация</button>
                    </form>
                    {% endblock %}

                </div>
                <div class="form-auth-bottom">
                    <p>Нет в системе? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-row">
            <p>Одесский колледж компьютерных технологий "Сервер".</p>
            <p>All rights reserved. Copyright © 2019</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>
</html>