{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static "/css/reset.css" %}">
  <link rel="stylesheet" href="{% static "/css/modal.css" %}">
  <link rel="stylesheet" href="{% static "/css/navbar.css" %}">
  <link rel="stylesheet" href="{% static "/css/notification.css" %}">
  <link rel="stylesheet" href="{% static "/css/style.css" %}">
  {% block css %}
  {% endblock %}
  <title>
    {% block title %} {% endblock %}
  </title>
</head>
<body>
    {% include  'notification.html' %}

    {% block main %}
    {% endblock %}
</body>

  <script
          src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/micromodal/dist/micromodal.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/@popperjs/core@2"> </script>
<!--Свой JS-->
  <script src="{% static '/js/moment.js' %}"></script>
  <script src="{% static '/js/navbar.js' %}"></script>
  <script src="{% static '/js/notification.js' %}"></script>
  {% block javascript %}
  {% endblock %}
</html>