{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "/css/reset.css" %}">
  <link rel="stylesheet" href="{% static "/css/email_send_success.css" %}">
  <link rel="stylesheet" href="{% static "/css/reg.css" %}">
  <title>Письмо отправлено</title>
</head>
<body>
<header>
  <a href="{% url 'login' %}"><p>Авторизироваться</p></a>
</header>

<div class="container-fluid">
  <div class="row row-container-content">
    <div class="col-12 col-container-content">
      <div class="row">
        <div class="col-12">
          <div class="row">

            <div class="col-12">
              <div class="row text-center">
                <div class="col-12">
                  <h1>Письмо успешно отправлено</h1>
                </div>
              </div>
              <div class="row text-center sendMsgImg">
                <div class="col-12">
                  <img src="{% static '/img/icons/email_closed.png' %}" alt="Отправленное сообщение">
                </div>
              </div>
              <div class="row text-center">
                <div class="col-12">
                  <h5> Перейдите в свой электронный ящик, откройте письмо и следуйте последующим указаниям </h5>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="footer-row">
    <p>Одесский колледж компьютерных технологий "Сервер". All rights reserved. Copyright © 2019</p>
  </div>
</footer>
</body>
</html>