{% extends "base.html" %}

{% load static %}

    {% block title %}
        Дизайнер журнала
    {% endblock %}


    {% block css %}
        <link rel="stylesheet" href="{% static "/css/journalDesigner.css" %}">
    {% endblock %}

{% block main %}
    <!-- The Modal -->
    <div id="modalTestPlanner" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <p>Планировщик проверочных работ</p>
                <span class="close">×</span>
            </div>

            <div class="modal-body">
                <div class="modal-body-choosers">
                    <select name="" id="groupID" class="custom-select">
                        <option value="">Группа</option>
                    </select>
                </div>

                <div class="modal-body-costructor">
                    <div class="modal-body-costructor-controller">
                        <h5>Добавьте работу</h5>
                        <input type="text" class="form-control" placeholder="Тема работы">
                        <input type="text" class="form-control" placeholder="Тип работы">
                        <button type="submit" class="btn btn-primary" id="ticketBtnAdd">Добавить</button>
                    </div>

                    <div class="modal-body-costructor-testList">
                        <h5>Запланированные работы</h5>
                        <div class="modal-body-testList-tests" id="testList-ticketContainer">
<!--                            здесь будут генерироваться запланированные работы-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        {% include  'navbar.html' %}
        <div class="row row-container-content">
            <div class="col-12 col-container-content">
            <div class="row">
                <div class="col-12">
                    <h2 class="col-container-content-header">Конструктор журналов</h2>
                </div>
            </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 list-component" >

                                <table class="table table-bordered" id="tableSubjectsConstructor">
                                    <thead>
                                        <tr>
                                            <td colspan="4"><h5>Ваши предметы</h5></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Специализация</td>
                                            <td>Курс</td>
                                            <td>Предмет</td>
                                            <td>Семестр</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static '/js/modal.js' %}"></script>
    <script src="{% static '/js/journalDesigner.js' %}"></script>
{% endblock %}