{% extends "base.html" %}

{% load static %}

{% block title %}
    Журнал
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/plugs.css' %}">
<link rel="stylesheet" href="{% static "/css/journal.css" %}">
<link rel="stylesheet" href="{% static "/css/marks.css" %}">
<link rel="stylesheet" href="{% static "/css/settings.css" %}">
{% endblock %}

{% block main %}
    <!-- The Modal -->
    <div id="modalTestChooser" class="modal">
        <!-- Modal content -->
        <div class="modal-content modal-content-forJournal">
            <div class="modal-header">
                <p> Выбор проведения работы </p>
                <span class="close">×</span>
            </div>

            <div class="modal-body">
                <div class="modal-body-chooser">

                </div>
                <div class="modal-body-costructor">
                    <div class="modal-body-costructor-testList-wide">
                        <h5>Запланированные работы</h5>
                        <div class="modal-body-testList-tests" id="testList-ticketContainer">
                            <!--                            здесь будут генерироваться запланированные работы-->
                        </div>
                      <div class="modal-body-constructor-spec-work">
                        <h7>Провести особую работу</h7>
                        <div class="spec-work-group-btns">
                          <button type="button" class="btn btn-outline-primary btn-md" id="certifyBtn">Атестація</button>
                          <button type="button" class="btn btn-outline-primary btn-md" id="directorialReviewBtn">ДКР</button>
                          <button type="button" class="btn btn-outline-primary btn-md" id="creditBtn">Залік</button>
                          <button type="button" class="btn btn-outline-primary btn-md" id="examBtn">Екзамен</button>
                        </div>
                      </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" id="unscheduledTicketBtn" class="btn btn-light btn-block">Внеплановая работа</button>
                <div class="modal-footer-ticketConstructor hide" id="journalUnsheduledConstructor">
                    <div class="modal-body-costructor-controller-wide">
                        <h5>Добавьте работу</h5>
                        <input type="text" class="form-control" placeholder="Тема работы">
                        <input type="text" class="form-control" placeholder="Тип работы">
                        <button type="submit" class="btn btn-primary" id="unscheduledTicketBtnAdd">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    Основной контент-->
        <div class="container-fluid">
            {% include  'navbar.html' %}
            <div class="row row-container-content">
                <div class="col-12 col-container-content">
                <div class="row">
                    <div class="col-12">
                        <h2 class='col-container-content-header'>Журнал</h2>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="inputGroupSelectCourse">Курс</label>
                            <select class="custom-select" id="inputGroupSelectCourse" onchange="">
                                    <option selected>Выберите курс</option>
                                    {% for course in courses %}
                                        <option value="{{ course.id }}">
                                            {{ course }}
                                        </option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="inputGroupSelectGroup">Группа</label>
                            <div class="input-group mb-3">
                                <select class="custom-select" id="inputGroupSelectGroup" onchange="">
                                    <option selected>Выберите группу</option>
<!--                                        Список групп генерируется здесь-->
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="inputGroupSelectSubject">Предмет</label>
                            <div class="input-group mb-3">
                                <select class="custom-select" id="inputGroupSelectSubject" onchange="journalSelector.updateInputData('subject');">
                                    <option selected>Выберите предмет</option>
<!--                                    список предметов генерируется здесь-->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 journal_list">
                            <!-- Таблица посещений студентов -->
                            <div class="row journal_list_container">
                                <h3 class="header-category"> Посещения </h3>
                                <div class="col-12 list-component">
                                    <div class="students_wrapper">
                                        <table class="table table-bordered table-hover list-shadow" id="students_list_attendance">
                                            <thead>
                                            <td>Студенты</td>
                                            </thead>
                                            <tbody>
<!--                                            Фио студентов для посещения -->
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="students_attendance_wrapper table-responsive">
                                        <table class="table table-bordered table-hover journal_list_table" id="students_attendance">
                                            <thead>
<!--                                                Здесь генерируются данные для оценок-->
                                            </thead>
                                            <tbody>
<!--                                                Здесь генерируются оценки-->
                                            </tbody>
                                        </table>
                                        <button name="" id="" class="btn btn-outline-journal-add round-lite"
                                                onclick="attendanceList.createNewAttendances()">+</button>
                                        <!--                            onclick="markList.createNewMarks();"-->
                                    </div>
                                </div>
                            </div>
                            <!-- Таблица оценок студентов -->
                            <div class="row journal_list_container">
                                <h3 class="header-category">Оценки</h3>
                                <div class="col-12 list-component" >
                                    <div class="students_wrapper">
                                        <table class="table table-bordered table-hover list-shadow" id="students_list_marks">
                                            <thead>
                                                <td>Студенты</td>
                                            </thead>
                                            <tbody>
<!--                                            фио студентов-->
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="students_marks_wrapper table-responsive">
                                        <table class="table table-bordered table-hover journal_list_table" id="marks_list_marks">
                                            <thead>
<!--                                            даты -->
                                            </thead>
                                            <tbody>
<!--                                                список оценок -->
                                            </tbody>
                                        </table>

<!--                                        <button type="button" name="" id="btnCaller" class="btn btn-outline-journal-add round-lite"-->
<!--                                                onclick="">+</button>-->
                                        <button type="button" name="" id="btnCaller" class="btn btn-outline-journal-add round-lite"
                                                onclick="">+</button>
                                        <!--                            onclick="markList.createNewMarks();"-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 journal_list-plug">
                            <h2>Кажется, вы еще не работали с журналами</h2>
                            <img src="{% static '/image/icons/open_book.png' %}" alt="">
                            <h5>Выберите курс, группу и предмет для начала работы</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascript %}
    <script src="{% static '/js/table.js' %}"></script>
    <script src="{% static '/js/testChooser.js' %}"></script>
{% endblock %}

