{% extends "base.html" %}

{% load static %}

{% block title %}
    Ваши оценки
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "/css/marks.css" %}">
{% endblock %}


{% block main %}
<!-- The Modal -->
<div id="modalMarksTimeline" class="modal">
    <!-- Modal content -->
    <div class="modal-content modal-content-forJournal">
        <div class="modal-header">
            <p id="modalMarksHeader"> Все оценки по</p>
            <span class="close">×</span>
        </div>

        <!-- построение карточек -->
        <div class="modal-body">
            <div class="list" id="marksList">

            </div>
        </div>

        <div class="modal-footer">
            <button type="button" id="closeButtonFooter" class="btn btn-light btn-block">Закрыть</button>
        </div>
    </div>
</div>

<!-- основной контент -->
<div class="container-fluid">
    {% include  'navbar.html' %}
    <div class="row row-container-content">
        <div class="col-12 col-container-content">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group inner-addon left-addon">
                                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                <input type="text" class="form-control search-navbar search-navbar-shadow" name="" id="searchCardInMarks" aria-describedby="helpId" placeholder="Найти предмет">
                            </div>
                        </div>
                    </div>

                    <h2 class="header-category"> Ваши оценки </h2>

                    <div class="row">
                        <div class="col-12">
                            <div class="card-columns">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{% static "/js/marks.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}
