{% load static %}

<nav class="navbar-primary collapsed">
<a href="#" class="btn-expand-collapse">
    <i class="material-icons glyphicon glyphicon-align-justify">menu</i>
</a>
<a href="{% url 'logout' %}" class="btn-expand-logout">
    <i class="material-icons glyphicon glyphicon-off">
        power_settings_new
    </i>
</a>

    <div class="navbar-primary-avatar">

        <a href="{% url 'welcome' %}">
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}">
            {% else %}
            <div class="navbar-primary-avatar-background">
                <p> {{ user.name_first_letter }} </p>
            </div>
            {% endif %}
        </a>
    </div>
    <div class="navbar-primary-name hidden">
        <p class="navbar-primary-name-fullName">
            {{ user.get_short_name }}
        </p>
    </div>

    <ul class="navbar-primary-menu">
        <li>
            {% if user.get_readable_user_type == "Преподаватель" %}
                <a href="{% url 'journal' %}">
                    <i class="material-icons glyphicon glyphicon-list-alt">folder</i><span class="nav-label">Журнал</span>
                </a>

                <a href="{% url 'statements_page' %}">
                    <i class="material-icons">attachment</i><span class="nav-label">Генерация ведомости</span>
                </a>
                <a href="{% url 'journal_designer' %}">
                    <i class="material-icons">create_new_folder</i><span class="nav-label">Конструктор журналов</span>
                </a>
            {% endif %}
            <!--                <a href="#"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Ведомости</span></a>-->
            {% if user.get_readable_user_type == "Студент" %}
                <a href="{% url 'marks' %}">
                    <i class="material-icons">school</i><span class="nav-label">Оценки</span>
                </a>
                <a href="{% url 'record_book_page' %}">
                    <i class="material-icons">crop_16_9</i><span class="nav-label">Зачетная книжка</span>
                </a>
            {% endif %}

            {% include  'notificationsLayout.html' %}
<!--                <a href="{% url 'marks' %}"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Календарь</span></a>-->
            <a href="{% url 'settings' %}">
                <i class="material-icons">settings</i><span class="nav-label">Настройки</span>
            </a>
        </li>
    </ul>
</nav>

{% block javascript %}

{% endblock %}