{#{% load static %}#}
{##}
{#{% block css %}#}
{#    <link rel="stylesheet" href="{% static "/css/notificationsLayout.css" %}">#}
{#{% endblock %}#}
{##}
{#<div id="notificationsLayout" class="notificationsLayout">#}
{#    <div class="notificationsLayout-header">#}
{#        <p>Ваши уведомления</p>#}
{#    </div>#}
{#    <div class="notificationsLayout-notificationsContainer">#}
{##}
{#    </div>#}
{#    <div class="notificationsLayout-footer">#}
{#        <p>Ко всем уведомлениям</p>#}
{#    </div>#}
{#</div>#}
{##}
{##}
{##}
{##}
{##}
