{% extends "base.html" %}

{% load static %}

{% block title %}
    Зачетная книжка
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static "/css/recordBook.css" %}">
    <link rel="stylesheet" href="{% static "/css/plugs.css" %}">
{% endblock %}


{% block main %}
    <div class="container-fluid">
        {% include  'navbar.html' %}
        <div class="row row-container-content">
            <div class="col-12 col-container-content">
                <div class="row">
                    <div class="col-12">
                        <h2 class='col-container-content-header'>Зачетная книжка</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" id="record_book-number">
                        <!-- Таблица посещений студентов -->
                        <div class="row">
                            <h2>Номер зачетной книжки: {{ recordbook }}</h2>
                        </div>


                        <div class="row rbCourses">
                            {% for table in tables %}
                            <div class="col-12 rbCourseBlock">
                                <div class="row">
                                    <div class="col-12">

                                        <h3> {{ table.course }} курс </h3>

                                        <table class="table table-bordered">

                                            <thead>
                                                <tr>
                                                    <th colspan="7">
                                                        <p> {{ table.semestr }} семестр</p>
                                                        <p> {{ table.starting_year }} </p>
                                                        <p> {{ table.ending_year }} </p>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th scope="col"> # </th>
                                                    <th scope="col"> Название предмета </th>
                                                    <th scope="col">ФИО преподавателя</th>
                                                    <th scope="col">Количество баллов</th>
                                                    <th scope="col">По национальной шкале</th>
                                                    <th scope="col">Тип контроля</th>
                                                    <th scope="col">Дата</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                            {% for record in table.fields %}
                                                <tr>
                                                    <td>{{ record.subject_number }}</td>
                                                    <td>{{ record.subject_name }}</td>
                                                    <td>{{ record.lecturer }}</td>
                                                    <td>{{ record.mark_number }}</td>
                                                    <td>{{ record.marks_str }}</td>
                                                    <td>{{ record.type_of_mark }}</td>
                                                    <td>{{ record.date }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>

                    </div>

                </div>

                <div class="col-12 record_book-plug">
                    <h2>Кажется, вам еще не присвоили зачетную книжку</h2>
                    <img src="{% static '/image/icons/diploma.png' %}" alt="Изображение зачетки">
                    <h5>Обратитесь к вашему куратору, для уточнения процесса выдачи</h5>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script src="{% static '/js/modal.js' %}"></script>
    <script src="{% static '/js/recordBook.js' %}"></script>
{% endblock %}