{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "/css/reset.css" %}">
    <link rel="stylesheet" href="{% static "/css/reg.css" %}">
    <title>Регистрация</title>
</head>
<body>
    <header>
        <p>Уже зарегестрирован? <a href="{% url 'login' %}">Войти</a></p>
    </header>
    <div class="row-container">
        <div class="presenter-container">
            <div class="presenter-title">
                <img src="{% static "/img/logo.png" %}" alt="">
                <h1>SERVER</h1>
            </div>
            <div class="presenter-slogan">
                <h2>Образование будущего</h2>
            </div>
            <div class="presenter-content">
                <div class="presenter-content-row">
                    <img src="{% static "/img/agendas.png" %}" alt="">
                    <div class="presenter-content-text">
                        <h3>Дневник</h3>
                        <p>Доступ к твоим оценкам, домашнему заданию и эффективности учебного процесса</p>
                    </div>
                </div>
                <div class="presenter-content-row">
                    <img src="{% static "/img/notebook.png" %}" alt="">
                    <div class="presenter-content-text">
                        <h3>Журнал</h3>
                        <p>Ставьте оценки, ведите учет посещаемости и генерируйте итоговые ведомости</p>
                    </div>
                </div>
<!--                <div class="presenter-content-row">-->
<!--                    <img src="{% static "/img/calendar.png" %}" alt="">-->
<!--                    <div class="presenter-content-text">-->
<!--                        <h3>Расписание</h3>-->
<!--                        <p>Текст расписания</p>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <div class="row-container-form">
            <div class="form-reg-content lite-card-shadow">
                <div class="form-reg-head">
                    <h1>Регистрация</h1>
                </div>
                <div class="form-reg-body">
                    {% block content %}
                    <form method="post" action="{% url 'register' %}" class="form-group">
                        {% csrf_token %}

                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.first_name.label }}
                            {{ form.first_name }}
                        </div>
                        <div class="form-group">
                            {{ form.second_name.label }}
                            {{ form.second_name }}
                        </div>
                        <div class="form-group">
                            {{ form.middle_name.label }}
                            {{ form.middle_name }}
                        </div>
                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label }}
                            {{ form.password }}
                        </div>
                        <div class="form-group reg-body-group">
                            <label for="register_group_dropdown">{{ form.group.label }}</label>
                            {{ form.group }}
                        </div>
                        <button type="submit" class="btn btn-success btn-lg btn-block">Зарегистрироваться</button>
                    </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-row">
            <p>Одесский колледж компьютерных технологий "Сервер". All rights reserved. Copyright © 2019</p>
        </div>
    </footer>
</body>
</html>