{% extends "base.html" %}

{% load static %}

{% block title %}
    Настройки
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "/css/settings.css" %}">
{% endblock %}

{% block main %}
<div class="container-fluid">
    {% include 'navbar.html' %}
    <div class="row row-container-content">
        <div class="col-12 col-container-content">
            <h2> Настройка аккаунта </h2>
            <div class="row">
                <div class="col-12">
                    <div class="settings-component liteShadow round-lite">
                    <div class="row">
                        <div class="col-12">
                            <div class="settings-component-title">
                                <h3> Ваш профиль </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="settings-component-section">
                                <div class="settings-component-section-subtitle">
                                    <h4>Общая информация</h4>
                                </div>
                                <div class="settings-component-section-cfgGroup">
                                    <div class="row cfgGroup-row">
                                        <form method="post" action="{% url 'settings' %}" class="form-group">
                                            <div class="form-row">
                                                <div class="form-group col-4">
                                                    {{ fullname_form.second_name.label }}
                                                    {{ fullname_form.second_name }}
                                                </div>
                                                <div class="form-group col-4">
                                                    {{ fullname_form.first_name.label }}
                                                    {{ fullname_form.first_name }}
                                                </div>
                                                <div class="form-group col-4">
                                                    {{ fullname_form.middle_name.label }}
                                                    {{ fullname_form.middle_name }}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row cfgGroup-row">
                                        <form method="post" action="{% url 'settings' %}" class="form-group">
                                            <div class="form-row">
                                                <div class="form-group col-4">
                                                    {{ email_form.email.label }}
                                                    {{ email_form.email }}
                                                </div>
                                                <div class="form-group col-4">
                                                    <button type="submit" class="btn btn-light change-mail-btn" name="changeEmail">
                                                        сменить почту
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="settings-component-section">
                                <div class="settings-component-section-subtitle">
                                    <h4>Сменить пароль</h4>
                                </div>
                                <div class="settings-component-section-cfgGroup">
                                    <div class="row cfgGroup-row">
                                        <form method="post" action="{% url 'settings' %}" class="form-group">
                                            <div class="form-row">
                                                <div class="form-group">
                                                    {{ password_form.as_p }}
                                                    {% csrf_token %}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-success btn-lg btn-block" name="changePassword">
                                                        Сохранить
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
