{% extends "base.html" %}

{% load static %}

{% block title %}
    Зачетная книжка
{% endblock %}


{% block css %}
    <!-- пользовательские стили -->
    <link rel="stylesheet" href="{% static "/css/plugs.css" %}">
    <link rel="stylesheet" href="{% static "/css/statements.css" %}">

    <!-- стили для datepicker -->
    <link rel="stylesheet" href="{% static "/css/datepicker-bs-1_9_0/bootstrap-datepicker.min.css" %}">
{% endblock %}


{% block main %}


<div class="container-fluid">
    {% include  'navbar.html' %}
    <div class="row row-container-content">
        <div class="col-12 col-container-content">

            <div class="row">
                <div class="col-12">
                    <h2 class='col-container-content-header'>Страница ведомостей</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 col-sm-12">
                    <div class="accorion" id="statementsDocs">
                        <div class="card">
                            <div class="card-header" id="state_1_heading">
                                <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#state_1" aria-expanded="true" aria-controls="state_1">
                                    <h4>Курсовые</h4>
                                </button>
                            </div>
                            <div id="state_1" class="collapse" aria-labelledby="state_1_heading" data-parent="#statementsDocs">
                                <div class="row  justify-content-center">
                                    <div class="col-10" >
                                        <div class="row">
                                            <div class="col-12">
                                                <form method="POST" data-url="ajax/genStatements/" class="form-group states-form" id="state_1_form">
                                                    {% csrf_token %}
                                                    {{ form.errors }}
                                                    <div class="form-group">
                                                        <label for="state_1_form_1">{{ statements_courses_exam_form.course_number.label }}</label>
                                                        {{ statements_courses_exam_form.course_number }}

                                                        <label for="state_1_form_2">{{ statements_courses_exam_form.group.label }}</label>
                                                        {{ statements_courses_exam_form.group }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="state_1_form_3">{{ statements_courses_exam_form.subject.label }}</label>
                                                        {{ statements_courses_exam_form.subject }}

                                                        <label for="state_1_form_4">{{ statements_courses_exam_form.control_type.label }}</label>
                                                        {{ statements_courses_exam_form.control_type }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="state_1_form_5">{{ statements_courses_exam_form.examiners.label }}</label>
                                                        {{ statements_courses_exam_form.examiners }}
                                                    </div>


                                                    <div class="form-group">
                                                        <label for="state_1_form_7">{{ statements_courses_exam_form.semestr_half.label }}</label>
                                                        {{ statements_courses_exam_form.semestr_half }}
                                                        <label for="state_1_form_6">{{ statements_courses_exam_form.event_date.label }}</label>
                                                        <div class="input-group date">
                                                            {{ statements_courses_exam_form.event_date }}
                                                            <div class="input-group-append">
                                                                <span class="input-group-text material-icons">calendar_today</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <input class="btn btn-primary" type="submit" value="Создать таблицу" name="CoursesExamStatements">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body hide" id="table_1_card-body">
                                    <div class="row">
                                        <div class="col-10">
                                            <button class="btn btn-light" onclick="btn_export()"> Экспортировать </button>
                                        </div>
                                        <div class="col-2">
                                            <span class="close-table-statement" id="close_btn_state_1">×</span>
                                        </div>
                                    </div>
                                    <table class="table table-bordered table-responsive states" id="state_1">
                                        <!-- Заголовок документа -->
                                        <thead>
                                        <tr class="educationPlaceName">
                                            <td colspan="8" style="text-align: center;">ПВНЗ Одеський коледж комп'ютерних технологій "Сервер"</td>
                                        </tr>
                                        <tr class="document-name bold">
                                            <td colspan="8" style="text-align: center;">Відомість обліку успішності  № </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" id="state_1_header_edu_period">I семестр   2019 / 2020  навчального року</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" id="state_1_header_cotrolType">Форма контролю -</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" id="state_1_header_specialization">Спеціальність</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td colspan="2" id="state_1_header_group">Група</td>
                                            <td></td>
                                            <td colspan="2" id="state_1_header_course">Курс</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" id="state_1_header_subject">Дисципліна</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" id="state_1_header_examiners">Прізвище, ім'я, по батькові екзаменаторів</td>
                                        </tr>
                                        <tr class="slim-all-tds">
                                            <td colspan="8"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" id="state_1_header_eventDate">Дата проведення</td>
                                        </tr>
                                        <tr class="slim-all-tds">
                                            <td colspan="8"></td>
                                        </tr>
                                        </thead>
                                        <!-- Заголовок документа -->
                                        <!-- Заголовок таблицы -->
                                        <tr class="centered-all-tds bold">
                                            <td rowspan="2">№ з\п</td>
                                            <td rowspan="2" colspan="2">Прізвище, ім'я, по батькові студента</td>
                                            <td rowspan="2">№ залікової книжки</td>
                                            <td rowspan="2">№ білету</td>
                                            <td colspan="2">Результат оцінювання</td>
                                            <td rowspan="2">Підпис викладача</td>
                                        </tr>
                                        <tr class="centered-all-tds bold">
                                            <td>Оцінка за ECTS</td>
                                            <td>Оцінка за національною шкалою</td>
                                        </tr>
                                        <!-- Тело таблицы -->
                                        <tbody id="state_1_body">
                                        </tbody>
                                        <!-- Вторая часть целой таблицы -->
                                        <tfoot>
                                        <tr>
                                            <td colspan="8"></td>
                                        </tr>
                                        <tr class="">
                                            <td colspan="8" class="centered-all bold">Підсумки складання</td>
                                        </tr>
                                        <tr class="centered-all-tds bold normal-last">
                                            <td colspan="2" rowspan="2"> Оцінка за ECTS</td>
                                            <td rowspan="2">Всього оцінок</td>
                                            <td colspan="2" rowspan="2">Оцінка за національною шкалою<br>
                                                (екзамен / залік)</td>
                                            <td rowspan="2">Всього оцінок</td>
                                            <td rowspan="9" colspan="2">
                                                Не допущено_________ <br><br><br>
                                                Не з'явилося__________
                                            </td>
                                        <tr>
                                        </tr>
                                        <tr class="centered-all-tds">
                                            <td colspan="2">A</td>
                                            <td id="state_1_sum_A"></td>
                                            <td colspan="2">відмінно</td>
                                            <td id="state_1_sum_5"></td>
                                        </tr>
                                        <tr class="centered-all-tds">
                                            <td colspan="2">B</td>
                                            <td id="state_1_sum_B"></td>
                                            <td rowspan="2" colspan="2">добре</td>
                                            <td rowspan="2" id="state_1_sum_4"></td>
                                        </tr>
                                        <tr class="centered-all-tds">
                                            <td colspan="2">C</td>
                                            <td id="state_1_sum_C"></td>
                                        </tr>
                                        <tr class="centered-all-tds">
                                            <td colspan="2">D</td>
                                            <td id="state_1_sum_D"></td>
                                            <td rowspan="2" colspan="2">задовільно</td>
                                            <td rowspan="2" id="state_1_sum_3"></td>
                                        </tr>
                                        <tr class="centered-all-tds">
                                            <td colspan="2">E</td>
                                            <td id="state_1_sum_E"></td>
                                        </tr>
                                        <tr class="centered-all-tds">
                                            <td colspan="2">FX</td>
                                            <td id="state_1_sum_FX"></td>
                                            <td colspan="2">незадовільно (з можливістю повторного складання)</td>
                                            <td id="state_1_sum_2"></td>
                                        </tr>
                                        <tr class="centered-all-tds">
                                            <td colspan="2">F</td>
                                            <td id="state_1_sum_F"></td>
                                            <td colspan="2">незадовільно (з обов'язковим повторним вивченням)</td>
                                            <td id="state_1_sum_1"></td>
                                        </tr>
                                        <!-- Строки на подпись -->
                                        <tr>
                                            <td colspan="8"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td colspan="2">Директор коледжу</td>
                                            <td></td>
                                            <td></td>
                                            <td class="">Т.В. Отрадська</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td colspan="2">(прізвище та ініціали)</td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="state_2_heading">
                                <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#state_2" aria-expanded="true" aria-controls="state_2">
                                    <h4>Сводная по курсу</h4>
                                </button>
                            </div>
                            <div id="state_2" class="collapse" aria-labelledby="state_2_heading" data-parent="#statementsDocs">
                                <div class="row  justify-content-center">
                                    <div class="col-10" >
                                        <div class="row">
                                            <div class="col-12">
                                                <form method="POST" data-url="ajax/genStatementsFinalByCourse/" class="form-group states-form" id="state_2_form">
                                                    {% csrf_token %}
                                                    {{ form.errors }}
                                                    <div class="form-group">
                                                        <label for="state_2_form_1">{{ state_2_form.course_number.label }}</label>
                                                        {{ state_2_form.course_number }}

                                                        <label for="state_2_form_2">{{ state_2_form.semestr_half.label }}</label>
                                                        {{ state_2_form.semestr_half }}
                                                    </div>

                                                    <input class="btn btn-primary" type="submit" value="Создать таблицу" name="CoursesFinalStatements">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="state_3_heading">
                                <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#state_3" aria-expanded="true" aria-controls="state_3">
                                    <h4>Сводная по специализации</h4>
                                </button>
                            </div>
                            <div id="state_3" class="collapse" aria-labelledby="state_3_heading" data-parent="#statementsDocs">
                                <div class="row  justify-content-center">
                                    <div class="col-10" >
                                        <div class="row">
                                            <div class="col-12">
                                                <form method="POST" data-url="ajax/genStatementsFinalByCourse/" class="form-group states-form" id="state_3_form">
                                                    {% csrf_token %}
                                                    {{ form.errors }}
                                                    <div class="form-group">
                                                        <label for="state_3_form_1">{{ state_3_form.course_number.label }}</label>
                                                        {{ state_3_form.course_number }}

                                                        <label for="state_3_form_2">{{ state_3_form.semestr_half.label }}</label>
                                                        {{ state_3_form.semestr_half }}
                                                    </div>

                                                    <input class="btn btn-primary" type="submit" value="Создать таблицу" name="CoursesFinalStatements">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 statements_list-plug">
                    <h2>Кажется, вы еще не указали данные</h2>
                    <img src="{% static '/image/icons/icon_list.png' %}" alt="">
                    <h5>Выберите курс, группу и предмет для начала работы</h5>
                </div>
            </div>


            <div class="row overflow hide" id="layoutState_2_formRes">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 hide" id="closeState_2_formRes_container"><span class="close" id="closeState_2_formRes">×</span></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <select class="form-control hide" name="" id="controlTypeDataByCourse-chooser">
                                <option value="" selected>Сделайте выбор работы</option>
                                <option value="Атестація 1">Aтестація 1</option>
                                <option value="Атестація 2">Aтестація 2</option>
                                <option value="Атестація 3">Aтестація 3</option>
                                <option value="Атестація 4">Aтестація 4</option>
                                <option value="ДКР 1">ДКР 1</option>
                                <option value="ДКР 2">ДКР 2</option>
                                <option value="Залік\Екзамен">Залік\Екзамен</option>
                            </select>
                        </div>
                    </div>
                    <div class="row spec-row">
                        <div class="col-12 spec-col" id="table-statements-container">
                            <table class="table table-bordered table-responsive hide" id="table-template">
                                <thead>
                                <tr>
                                    <td colspan="180" class="spec-header-controlType">Аттестация</td>
                                </tr>
                                <tr>
                                    <td colspan="180" class="spec-header-courseNumber">Номер курса</td>
                                </tr>
                                <tr>
                                    <td colspan="180" class="spec-header-specCode">Специальность</td>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="subjects">
                                    <td rowspan="1">ФИО</td>
                                </tr>
                                <tr class="student-and-marks">
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="row overflow" id="layoutState_2_formRes">-->
<!--            <div class="col-12">-->
<!--                <div class="row">-->
<!--                    <div class="col-12" id="closeState_2_formRes_container"><span class="close" id="closeState_2_formRes">×</span></div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-12">-->
<!--                        <h3></h3>-->
<!--                        <select class="form-control" name="" id="">-->
<!--                            <option value="">Aтестація 1</option>-->
<!--                            <option value="">Aтестація 2</option>-->
<!--                            <option value="">Aтестація 3</option>-->
<!--                            <option value="">Aтестація 4</option>-->
<!--                            <option value="">ДКР 1</option>-->
<!--                            <option value="">ДКР 2</option>-->
<!--                            <option value="">Залік\Екзамен</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row spec-row">-->
<!--                    <div class="col-12 spec-col" id="table-statements-container">-->
<!--                        <table class="table table-bordered table-responsive hide" id="table-template">-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <td colspan="180" class="spec-header">Заголовок</td>-->
<!--                            </tr>-->
<!--                            </thead>-->

<!--                            <tbody>-->
<!--                            <tr class="subjects">-->
<!--                                <td rowspan="1">ФИО</td>-->
<!--                            </tr>-->
<!--                            <tr class="subject-topics">-->
<!--                                <td rowspan="1">Работа</td>-->
<!--                            </tr>-->
<!--                            <tr class="student-and-marks">-->
<!--                            </tr>-->
<!--                            </tbody>-->

<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


    </div>
</div>
{% endblock %}



{% block javascript %}
<script src="{% static '/js/modal.js' %}"></script>
<script src="{% static '/js/statements.js' %}"></script>

<!-- JS для работы с экселем -->
<script src="{% static '/js/js-xlsx/xlsx.extendscript.js' %}"></script> <!-- xlsx (SheetJS) модифицирован дипломником -->
<script src="{% static '/js/js-xlsx/xlsx-styles/xlsx.full.min.js' %}"></script> <!-- xlsx-style -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.2/cpexcel.min.js"></script>-->

<!-- Логика для DatePicket for BS4 -->
<script src="{% static '/js/datepicker-bs-1_9_0/bootstrap-datepicker.min.js' %}"></script>
<!-- Локализация DatePicker for BS4 -->
<script src="{% static '/js/datepicker-bs-1_9_0/locales/bootstrap-datepicker.ru.min.js' %}"></script>

<!-- Рабочие скрипты разработчика -->
<script src="{% static '/js/xslx_generator.js' %}"></script>
<script src="{% static '/js/xslx_downloader.js' %}"></script>
{% endblock %}