{% extends "base.html" %}

{% load static %}

{% block title %}
Настройки
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "/css/welcome.css" %}">
{% endblock %}

{% block main %}
<div class="container-fluid">
    {% include 'navbar.html' %}
    <div class="row row-container-content">
        <div class="col-12 col-container-content">
            <div class="row">
                <div class="col-12">
                    <div class="welcome-component liteShadow round-lite">
                        <div class="row">
                            <div class="col-12">
                                <div class="welcome-component-title">
                                    <h3>Приветствуем!</h3>
                                    <div class="welcome-component-title-user">
                                    {% if user.avatar %}
                                        <img src="{{ user.avatar.url }}" class="welcome-component-title-user-avatar" alt="">
                                    {% else %}
                                        <img src="{% static '/image/icons/user_icon_default.png' %}" class="welcome-component-title-user-avatar" alt="">
                                    {% endif %}
                                        <div class="welcome-component-title-user-text">
                                            <ul class="welcome-component-title-user-text-name">
                                                <li>{{ user.get_short_name }}</li>
                                            </ul>
                                            <ul class="welcome-component-title-user-text-usertype">
                                                <li>{{ user.get_readable_user_type }}</li>
                                            </ul>
                                            {% if user.is_student %}
                                            <ul class="welcome-component-title-user-text-about">
                                                <li>{{ user.get_current_course }} курс</li>
                                                <li>{{ user.get_current_semestr }} семестр</li>
                                            </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="row">-->
<!--                            <div class="col-12">-->
<!--                                <div class="welcome-component-header">-->
<!--                                    <h4> Ваши последние новости </h4>-->
<!--                                </div>-->
<!--                                <div class="welcome-component-news">-->
<!--                                    <div class="row news-row">-->
<!--                                        <div class="col-12">-->
<!--                                            <div class="news-ticket">-->
<!--                                                <div class="news-ticket-container">-->
<!--                                                    <div class="news-ticket-container-meassage">-->
<!--                                                        <div class="news-ticket-container-message-title">-->
<!--                                                            <p>Title</p>-->
<!--                                                        </div>-->
<!--                                                        <div class="news-ticket-container-message-text">-->
<!--                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque aut autem blanditiis-->
<!--                                                                corporis cum dicta earum facilis ipsam laborum maiores odit optio quasi quod ratione veniam,-->
<!--                                                                voluptatibus voluptatum! Tempora?</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="news-ticket">-->
<!--                                                <div class="news-ticket-container">-->
<!--                                                    <div class="news-ticket-container-meassage">-->
<!--                                                        <div class="news-ticket-container-message-title">-->
<!--                                                            <p>Title</p>-->
<!--                                                        </div>-->
<!--                                                        <div class="news-ticket-container-message-text">-->
<!--                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque aut autem blanditiis-->
<!--                                                                corporis cum dicta earum facilis ipsam laborum maiores odit optio quasi quod ratione veniam,-->
<!--                                                                voluptatibus voluptatum! Tempora?</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="news-ticket">-->
<!--                                                <div class="news-ticket-container">-->
<!--                                                    <div class="news-ticket-container-meassage">-->
<!--                                                        <div class="news-ticket-container-message-title">-->
<!--                                                            <p>Title</p>-->
<!--                                                        </div>-->
<!--                                                        <div class="news-ticket-container-message-text">-->
<!--                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque aut autem blanditiis-->
<!--                                                                corporis cum dicta earum facilis ipsam laborum maiores odit optio quasi quod ratione veniam,-->
<!--                                                                voluptatibus voluptatum! Tempora?</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}